XC_API_KEY=tu_api_key_aqui
GOOGLE_APPLICATION_CREDENTIALS=ruta/a/tu/llave-servicio.json
GCP_KEY_PATH=ruta/a/tu/llave-servicio.json
GCS_BUCKET_NAME=nombre-del-bucket-gcs
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fama_db
